header.page-header
  h1.page-header__heading Проведение ТО и мелкий ремонт
  nav.page-header__navigation
    ul.page-header__list
      li.page-header__item
        a.page-header__link(href="#no_scroll") Общее
      li.page-header__item
        a.page-header__link.page-header__link--active(href="#no_scroll") Товар списания
      li.page-header__item
        a.page-header__link(href="#no_scroll") Доп. расходы
