section.table
  .table__container-new-row-button
    button.new-row-button#new-row-button(type="button")
      svg.new-row-button__plus
        use(href="img/icons/sprite.svg#plus")
      span.new-row-button__text Добавить строку
  .table__container#table-container
    table.table__data.data-table.nowrap#data-table
      thead.data-table__head
        tr
          th.data-table__head-cell Номер
          th.data-table__head-cell Действие
          th.data-table__head-cell Наименование единицы
          th.data-table__head-cell Цена
          th.data-table__head-cell Кол-во
          th.data-table__head-cell Цена доставки, руб
          th.data-table__head-cell Max грузоподъемность, кг
          th.data-table__head-cell Название товара
          th.data-table__head-cell Итого
      tbody
        tr
          td.data-table__body-cell
            .data-table__container-cell
              button.data-table__drag-button(type="button")
                svg.data-table__drag
                  use(href="img/icons/sprite.svg#hamburger")
                span.data-table__body-order 1
          td.data-table__body-cell.data-table__body-cell--action(data-label="Действие")
          td.data-table__body-cell(data-label="Наименование единицы")
            .data-table__container-cell
              select(name="name")
                option Мраморный щебень фр. 2-5 мм, 25кг
                option Мраморный щебень фр. 2-5 мм, 25кг (белый)
                option Мраморный щебень фр. 2-5 мм, 25кг (вайт)
                option Мраморный щебень фр. 2-5 мм, 25кг, возврат
                option Мраморный щебень фр. 2-5 мм, 1т
          td.data-table__body-cell(data-label="Цена")
            .data-table__container-cell
              input.data-table__input(type="text" name="price" value="1231" placeholder="Цена")
          td.data-table__body-cell(data-label="Кол-во")
            .data-table__container-cell
              input.data-table__input(type="text" name="quantity" value="12" placeholder="Кол-во")
          td.data-table__body-cell(data-label="Цена доставки, руб")
            .data-table__container-cell
              input.data-table__input(type="text" name="delivery" value="1500" placeholder="Цена доставки, руб")
          td.data-table__body-cell(data-label="Max грузоподъемность, кг")
            .data-table__container-cell
              input.data-table__input(type="text" name="load" value="100" placeholder="Max грузоподъемность, кг")
          td.data-table__body-cell(data-label="Название товара")
            .data-table__container-cell
              input.data-table__input(type="text" name="load" value="Мраморный щебень" placeholder="Название товара")
          td.data-table__body-cell(data-label="Итого")
            .data-table__container-cell
              input.data-table__input(type="text" name="load" value="" placeholder="0")

    table.table__result.result-table.nowrap#result-table
      tbody.result-table__body
        tr.result-table__row
          th.result-table__head-cell Сумма:
          td.result-table__body-cell 152 212 руб
        tr.result-table__row
          th.result-table__head-cell Кол-во:
          td.result-table__body-cell 24 шт
        tr.result-table__row
          th.result-table__head-cell Общий вес:
          td.result-table__body-cell 2 322 кг
      tfoot.result-table__footer
        tr.result-table__row
          th.result-table__head-cell.result-table__head-cell--footer Общая сумма:
          td.result-table__body-cell.result-table__body-cell--footer 152 212 руб
