.delete-button {
  @include default-button;

  min-width: 179px;
  padding: 5px 10px;
  border-radius: 5px;

  background-color: var(--white);
  box-shadow: $box-shadow-button;

  text-align: left;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.delete-button__text {
  color: var(--red);
  font-size: 14px;
  font-family: inherit;
}
