.data-table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.data-table__head-cell {
  display: none;
  border: 1px solid var(--light-gray) !important;
  font-weight: 600;
  padding: 14px 8px !important;
  cursor: grab;
  user-select: none;

  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}

.data-table__body-row {
  display: flex;
  flex-direction: column;
  margin: 0 0 5px 0;
  background-color: var(--white) !important;
  border-radius: 10px;
  box-shadow: $box-shadow;
  border: 1px solid var(--light-gray);
  padding: 14px 4px 10px;

  @media (min-width: $tablet-width) {
    display: table-row;
    margin: 0;
    border-radius: none;
    background-color: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }
}

.data-table__body-cell {
  padding: 0 10px 15px !important;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    padding: 5px 10px !important;
  }

  &:before {
    display: block;
    content: attr(data-label);
    font-size: 10px;
    line-height: 11px;
    color: var(--suva-grey);
    margin: 0 0 5px 0;

    @media (min-width: $tablet-width) {
      display: none;
      margin: 0;
    }
  }

  &--action {
    position: relative;
    overflow: unset !important;
  }

  &--order {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
    }
  }
}

.data-table__drag-button {
  margin: 0 0 0 3px;
}

.data-table__delete-button {
  position: absolute;
  bottom: -18px;
  left: 10px;
  z-index: 10;
}

.data-table__input {
  -webkit-appearance: textfield;
  appearance: textfield;
  width: 100%;
  height: 35px;
  max-width: 100%;
  padding: 8px 15px 6px 14px;
  border-radius: 5px;
  border: solid 1px var(--chinese-silver);
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;

  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    color: var(--black);
    opacity: 0.3;
  }
}

.data-table__select {
  appearance: none;
  width: 100%;
  height: 35px;
  max-width: 100%;
  padding: 8px 15px 7px 14px;
  border-radius: 5px;
  border: solid 1px var(--chinese-silver);
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  background-color: var(--white);
}
