.result-table {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    width: 304px;
  }
}

.result-table__body {
  display: block;
  border-radius: 5px;
  border: solid 1px var(--light-gray);
  background-color: var(--mist);
}

.result-table__head-cell {
  padding-inline: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--suva-grey);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 15px;
  }

  &--footer {
    color: var(--black);
  }
}

.result-table__body-cell {
  padding-inline: 15px;
  font-size: 16px;
  line-height: 16px;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 15px;
  }

  &--footer {
    font-weight: 600;
  }
}

.result-table__row {
  display: flex;
  justify-content: space-between;

  &:first-child,
  &:last-child {
    .result-table__head-cell,
    .result-table__body-cell {
      padding-block: 14px;
    }
  }
}

.result-table__footer {
  display: block;
  border-radius: 5px;
  border: solid 1px var(--light-gray);
  background-color: var(--mist);
  margin: 5px 0 0 0;
}


