doctype html
html(lang="en")
  include ../includes/head.pug

  body.page-body
    include ../includes/page-header.pug

    main
      include ../includes/hero.pug
      include ../includes/catalog.pug
      include ../includes/clients.pug
      include ../includes/work.pug

    include ../includes/page-footer.pug
    include ../includes/modal.pug
  script(src="js/script.js" type="module")
