@mixin list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-default {
  display: block;

  padding: 0;
  border: 0;

  background-color: transparent;
  color: inherit;

  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;

  cursor: pointer;
  user-select: none;
}
