// Colors
$white: #fff;
$black: #000;
$dark-cyan-blue: #1f3f68;
$dark-state-blue: #316099;
$picton-blue: #5a98d0;
$platonic-blue: #98c3e8;
$titanium: #e5e5e5;
$nocturne: #356ead;
$error: #ff0000;

// Gradient
$blue-gradient: linear-gradient(0deg, #98C3E8 8.84%, rgb(152 195 232 / 0%) 31.12%);

// Shadows
$card-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
$button-shadow: 5px 10px 20px rgb(53 110 173 / 20%);
$form-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
$form-button-shadow: drop-shadow(5px 10px 20px rgb(16 112 177 / 20%));

// Widths
$min-container-width: 360px;
$max-container-width: 940px;

// Breakpoints
$mobile-width-only: 400px;
$tablet-width: 700px;
$desktop-width: 1200px;
